<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de Estudiante</title>
</head>
<body>
	<table>
		<thead>
			<th>Codigo</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Carne</th>
			<th>Carrera</th>
		</thead>
		<th:block th:each="estudiante, row:${estudiantes}">
			<tr>
				<th th:text="${estudiante.codigo}"/>
				<th th:text="${estudiante.nombre}"/>
				<th th:text="${estudiante.apellido}"/>
				<th th:text="${estudiante.carne}"/>
				<th th:text="${estudiante.carrera}"/>
			</tr>					
		</th:block>		
	</table>
	<br><br>
	<form th:action="@{/inicio}" th:method="post">	
		<input type="submit" value="Inicio">
	</form>

</body>
</html>

<!-- sudo netstat -lpn |grep :8080 -->