<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Estudiate por Id</title>
</head>
<body>
	<label>Estudiante con codigo:</label><label th:text="${estudiante.codigoEstudiante}"></label>
	<table>
		<thead>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Edad</th>
			<th>Estado</th>
		</thead>
		
		<tr>			
			<th th:text="${estudiante.nombre}"/>
			<th th:text="${estudiante.apellido}"/>
			<th th:text="${estudiante.edad}"/>
			<th th:text="${estudiante.estadoDelegate}"/>
		</tr>							
	</table>
</body>
</html>