 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Compra realizada</title>
</head>
<body>
	
		<label>El Producto --<label th:text="${productox}"></label>-- se adquirio.</label>
				

</body>
</html>