<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Error</title>
</head>
<body>
	
		<label>El Producto --<label th:text="${productox}"></label>-- no se puede adquierir </label>	
				

</body>
</html>