<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Mostrar estudiante por la llave primaria</title>
</head>
<body>
	<label>Computadoras del estudiante:</label><label th:text="${estudiante.nombre}"></label>
	<table>
		<thead>
			<th>Id Computadora</th>
			<th>Marca</th>
		</thead>
		<tbody>
			<tr th:each="comp: ${estudiante.computadoras}">			
				<th th:text="${comp.codigoComputadora}"/>
				<th th:text="${comp.marca}"/>
			</tr>
		</tbody>							
	</table>
	<br>
	
	<a href="/estudiante">Regresar</a>
</body>
</html>